*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:calc(100% - 330px );
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.meun ul{
    display: flex;
    column-gap: 60px;
}
.header ul{
    display: flex;
    column-gap: 24px;
}
.header{
    padding: 21.84px 0 ;
}
.header .row{
    justify-content: space-between;
}
.meun a{
    color: #3A3845;
    text-decoration-line: none;
}
.meun-1{
    display: none;
}
@media screen and (min-width: 320px ) and (max-width:991px) {
    .meun{
        display: none;
    }
    .icon-hidden{
        display: none;
    }
    .container{
        width:calc(100% - 40px );
    }
    .meun-1{
        display: block;
    }
    .header{
        padding: 24.41px  20px;
    }
}
ul{
 list-style-type:none ;
}
a{
    color: #3A3845
}
.About-Moon{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 64px 337px;
}
.About-Moon p{
    margin-top: 24px ;
    font-size:16px 
}
.About-Moon h1{
    font-size: 36px;
    color: #3A3845;
}
@media screen and (min-width: 320px ) and (max-width:991px) {
    .About-Moon{
        padding: 64px 40.5px;
    }
}
.History1{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    width: 1110px;
    height: 348px;
}
.Made{
    background-color: #F7F6F5;
    padding: 64px 78.5px ;
    width: 555px;
    height: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;

}
.Made h1{
    color: #3A3845;
    font-style: 28px;
    margin-top: 116px;
}
.Made p {
    color: #595667;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 116px;
}
.imgmade{
    display: flex;
    width: 555px;
    height: 348px;
}
.imgmade img{
    object-fit: cover;
    display: block;
    width: 555px;
    height: 348px;
}
.History2{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    width: 1110px;
    height: 348px;
}
.History{
    background-color: #F7F6F5;
    width: 555px;
    height: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;  
}
.History h1{
    margin-top: 100px;
}
.History p{
    color: #595667;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 132px;
}
.imgHistory{
    flex: 1;
    display: flex;
    width: 555px;
    height: 348px;
}
@media screen and (min-width: 320px ) and (max-width:660px) {

    .History1 {
        flex-direction: column;
        width: 100%;
        height: auto; 
    }
    .History2 {
        flex-direction: column-reverse; 
        width: 100%;
        height: auto;
    }
    .Made, .History {
        width: 100%;
        height: 100%; 
    }
    .imgmade, .imgHistory {
        width: 100%;
        height: auto;
    }
    .imgmade img, .imgHistory img {
        width: 100%;
        height: 600px; 
        object-fit: cover;
        display: block; 
    }
}
.How-we-works{
    width: 1,440px;
    height: 523px;
}
.How-we-works-1{
    margin-left: 60px;
    margin-top: 80px;
    width: 555px;
    height: 443px;
}
.How-we-works-1 p{
    color: #595667;
    font-size: 16px;
    margin-top: 24px;
    
}
.How-we-works-1 h2{
    font-size: 18px;
    margin-top: 32px;
}
.How-we-works-1 h1{
    font-size: 28px;
}
.How-we-works-2{
    margin-top: 80px;
    width: 555px;
    height: 443px;
}
@media screen and (min-width: 320px ) and (max-width:660px) {
    .Lear2 {
        flex-direction: column-reverse; 
        width: 100%;
        height: auto;
    }
    .How-we-works-1 {
        width: 100%;
        height: 100%; 
    }
    .How-we-works-2 {
        width: 100%;
        height: auto;
    }
    .How-we-works-2 img {
        width: 100%;
        height: 600px; 
        object-fit: cover;
        display: block; 
    }   
}
.Meet-Our-Team{
    padding: 80px 0
}
.Meet-Our-Team h1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 48px;
}
.Meet-Our-Team .row{
    gap: 30px;
}
.Meet-Our-Team1{
    text-align: center;
    width: calc((100% -90px)/4);
}
.Meet-Our-Team1 h2 {
    margin-top: 24px;
    margin-bottom: 12px;
}
.Meet-Our-Team1 img{
    width: 100%;
}
.Meet-Our-Team1 p{
    color: #807F86;
}
@media screen and (min-width: 320px ) and (max-width:660px) {
    .Meet-Our-Team {
        padding: 36px 0;
    }
    .Meet-Our-Team h1 {
        margin-bottom: 48px;
        font-size: 36px;
    }

    .Meet-Our-Team .row {
        flex-wrap: nowrap ;   
        overflow-x: auto ;   
        padding: 0 20px 15px 20px;       
        gap: 20px;                  
        -webkit-overflow-scrolling: touch; 
        scroll-snap-type: x mandatory;   
    }
    .Meet-Our-Team .row::-webkit-scrollbar {
        display: none; 
    }
    .Meet-Our-Team1 {
        scroll-snap-align: center;  
    }
    .Meet-Our-Team1 img{
        width: 255px;
        height: 321px;
    }
    .Meet-Our-Team1 h2 {
        font-size: 14px;
        margin-top: 24px;
    }
    .Meet-Our-Team1 p{
        font-size: 16px;
    }

}
.emails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;  
}
.emails button{
    padding: 9px 15px;
    background-color: transparent;
    margin-bottom: 80px;
    align-items: stretch;
    margin-top: 32px;
}
.emails h3{
    color: #595667;
    margin-top: 80px;
}
.emails h1{
    margin-top: 24px;
    margin-bottom: 24px;
}
@media screen and (min-width: 320px ) and (max-width:660px) {
    .emails {
        text-align: center;
    }
    .emails h3{
        margin-top: 40px;
    }
    .emails h1 {
        font-size: 28px;
        margin-bottom: 24px;
        margin-top: 24px;
    }
    .emails a{
        width: 200px;
        display: block;                  
        border-bottom: 1px solid #3A3845; 
        padding-bottom: 12px;           
        margin-bottom: 32px;             
        text-decoration: none;  
    } 
    .emails button {
        width: 120px;       
        padding: 10px 0;    
       
        display: block; 
    }
}
.moon-footer {
  padding: 48px 245px 0px 245px; 
}
.footer-container {
  display: flex;
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: #CAC9CF;
}
.brand-column{
    border-right:1px solid #CAC9CF ;
    padding-right: 16;
    margin-right: 80px;
}
.footer-text {
  font-size: 14px;
  color: #E5E5E5;
  line-height: 1.6;
  margin-bottom:30px;
  max-width: 300px;
}
.footer-btn {
  background: transparent;
  color: #F7F6F5;
  border: 1px solid #F7F6F5;
  padding: 15px 18px;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 4px;
}
.footer-column h3{
    margin-bottom: 32px
}
.footer-column {
  margin-top: 24px;
  margin-right: 72px;
  margin-bottom: 70px;
}
.brand-column {
  flex: 1.5;
}
.column-title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 22px;
  color: #FFFFFF;
}

.column-links li {
  margin-bottom: 16px;
  
}
.column-links li a {
  color: #E5E5E5;
  text-decoration: none;
  font-size: 14px;
}
.footer-bottom {
  font-size: 16px;
  color: #CAC9CF;
  text-align: center;
  padding: 32px 235px 32px;
}
.moon-footer {
  background-color: #3A3845; 
  width: 100vw;             
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;        
  margin-right: -50vw;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 990px) {
    .moon-footer {
        padding: 32px 20px 20px 20px ; 
    }
    .footer-container {
        display: flex ;
        flex-wrap: wrap ; 
    }
    .brand-column {
        flex: 100% ; 
        border-right: none ; 
        margin-right: 0 ;
        padding-bottom: 30px ; 
        margin-bottom: 30px ;   
        border-bottom: 1px solid #CAC9CF ; 
    }
    .footer-column {
        flex: 50% ;         
        margin-right: 0 ;
        margin-bottom: 24px ;   
    }
    .footer-column:last-of-type { 
        flex:  100% ;        
        margin-bottom: 30px ;
    }
    .footer-column h3 {
        margin-bottom: 30px ;
    }
    .footer-bottom {
        padding: 30px 32px;
        font-size: 16px ;
        border-top: 1px solid #CAC9CF ;  
        height: 69px;
        width: 326px;
        text-align: center;

    }
    .footer-bottommd{
        display: block;
    }
    .footer-bottom1{
        display: none;
    }
}
.footer-bottommd{
    display: none;
}
.footer-bottom1{
    display: block;
}
