*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:calc(100% - 330px );
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.meun ul{
    display: flex;
    column-gap: 60px;
}
.header ul{
    display: flex;
    column-gap: 24px;
}
.header{
    padding: 21.84px 0 ;
}
.header .row{
    justify-content: space-between;
}
.meun a{
    color: #3A3845;
    text-decoration-line: none;
}
.meun-1{
    display: none;
}
@media screen and (min-width: 320px ) and (max-width:991px) {
    .meun{
        display: none;
    }
    .icon-hidden{
        display: none;
    }
    .container{
        width:calc(100% - 40px );
    }
    .meun-1{
        display: block;
    }
    .header{
        padding: 24.41px  20px;
    }
}
ul{
 list-style-type:none ;
}
a{
    color: #3A3845
}
.slidermd{
    display: none;
}
.Slider{
    width: 100%;
    margin: 0 auto;
}
.Slider-1{
    grid-template-columns: 35% 65%;
    overflow: hidden;
    width: 100%;
    display: grid;
}
.Slider-1 img{
    display: block;
    object-fit:contain ;
}
.Slider-2{
    background-color: #826F66;
    position: absolute;
    top: 110px ;
    bottom: 0px;
    left: 168px;
    height: 675px;
    width: 30%;
    z-index: 9999;
    color: #FFFDFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
}
.Slider-2 img {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
}

.Slider-2 p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-transform: uppercase;
    opacity: 0.9;
}

.Slider-2 h1 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.3;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.Slider-2 a {
    display: inline-block;
    background-color: #FFFDFB;
    color: #826F66;
    text-decoration: none;
    padding: 12px 35px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
@media screen and (min-width: 320px ) and (max-width:991px) {
    .Slider-1 {
        grid-template-columns: 100% ; 
    }
    .Slider-2 {
        position: relative ;
        top: 0 ;
        left: 0 ;
        width: 100% ;
        height: auto ;
        padding: 60px 20px ;
    }
}
.collections{
    display: flex;
    flex-wrap: wrap; 
    padding: 80px 0
}
.collections .row{
    gap: 30px;
}
.collection{
    text-align: center;
    width: calc((100% -90px)/4);
}
.collection h2 {
    margin-top: 23px;
}
.collection img{
    width: 100%;
}
@media screen and (min-width: 320px ) and (max-width:600px) {
    .collection{
    width:100% ;
    }
}
@media screen and (min-width: 600px ) and (max-width:991px) {
    .collection{
    width: calc((100% -30px)/2);
    }
}
.cardsV2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Grid{
    background-color: #F7F6F5;
    padding: 64px 78.5px ;
    width: 555px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Grid h1{
    color: #3A3845;
    font-style: 28px;
    max-width: 300px;
}
.Grid p {
    color: #595667;
    font-size: 16px;
    max-width: 340px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.imgV2{
    flex: 1;
    display: flex;
}
.imgV2 img{
    object-fit: cover;
    display: block;
}
@media screen and (min-width: 320px ) and (max-width:660px) {
    .imgV2{
        grid-template-columns: 100% ; 
    }
    .Grid {
        position: relative ;
        top: 0 ;
        left: 0 ;
        width: 100% ;
        height: auto ;
        padding: 60px 20px ;
    }
}
.Best{
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0
}
.Best h1{
    display: flex;
    flex-direction: column;
    gap: 30px ;
    margin-bottom: 48px;
    margin-left: 524.5px;
}
.Best1{
    display:flex;
    width: 23%;
    gap:30px  
    
}
.Best2{
    display: flex;
    width: 23%;
    gap: 30px ;
}
.Best img{
    width: 100%px;
    margin-bottom: 24px ;
    height: auto;
}
.Best h2{
    color: #3A3845;
    font-size: 14px;
}
.Best p{
    color:#807F86 ;
    margin-top: 24px;
    font-size: 14px;
}
.Best button{
    padding: 9px 92px;
    background-color: transparent;
    margin-bottom: 40px;
    align-items: stretch;
    margin-top: 58px;
}
.button1 button{
    margin-top: 80px;
}
@media screen and (min-width: 320px ) and (max-width:960px){
    .Best {
        margin-top: 40px;
        width: 100%;
        display: flex ;
        flex-direction: column ;
        align-items: center ;
    }
    .Best h1 {
        margin-left: 0 ; 
        text-align: center;
        margin-bottom: 30px ;
    }
    
    .Best1, .Best2 {
        width: 100% ;
        display: grid ;
        grid-template-columns: repeat(2, 1fr) ; 
    }

}
.Lear1{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    width: 1110px;
    height: 348px;
}
.Made{
    background-color: #F7F6F5;
    padding: 64px 78.5px ;
    width: 555px;
    height: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;

}
.Made h1{
    color: #3A3845;
    font-style: 28px;
    max-width: 300px;
}
.Made p {
    color: #595667;
    font-size: 16px;
    max-width: 340px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.imgmade{
    flex: 1;
    display: flex;
    width: 555px;
    height: 348px;
}
.imgmade img{
    object-fit: cover;
    display: block;
    width: 555px;
    height: 348px;
}
.Lear2{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    width: 1110px;
    height: 348px;
}
.History{
    background-color: #F7F6F5;
    padding: 64px 78.5px ;
    width: 555px;
    height: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;  
}
.History p{
    color: #595667;
    font-size: 16px;
    max-width: 340px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.imgHistory{
    flex: 1;
    display: flex;
    width: 555px;
    height: 348px;
}
@media screen and (min-width: 320px ) and (max-width:960px) {

    .Lear1 {
        flex-direction: column;
        width: 100%;
        height: auto; 
    }
    .Lear2 {
        flex-direction: column-reverse; 
        width: 100%;
        height: auto;
    }
    .Made, .History {
        width: 100%;
        height: 100%; 
    }
    .imgmade, .imgHistory {
        width: 100%;
        height: auto;
    }
    .imgmade img, .imgHistory img {
        width: 100%;
        height: 600px; 
        object-fit: cover;
        display: block; 
    }
}

.blog h1{
    margin-left: 50%;
    margin-bottom: 48px;
}
.blog1{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}
.TableWare{
    background-color: #F7F6F5;
    padding: 64px 78.5px ;
    width: 555px;
    height: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    
}
.TableWare h2{
    color: #3A3845;
    font-style: 28px;
    max-width: 300px;
}
.TableWare h3{
    color: #807F86;
}
.TableWare p {
    color: #595667;
    font-size: 16px;
    max-width: 340px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.imgblog{
    flex: 1;
    display: flex;
    width: 555px;
    height: 348px;
}
.imgblog img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}
.emails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;  
}
.emails button{
    padding: 9px 15px;
    background-color: transparent;
    margin-bottom: 80px;
    align-items: stretch;
    margin-top: 32px;
}
.emails h3{
    color: #595667;
    margin-top: 80px;
}
.emails h2{
    margin-top: 24px;
    margin-bottom: 24px;
}
@media screen and (min-width: 320px ) and (max-width:960px) {
    .blog h1{
        margin-left: 0;
        text-align: center;
    }
    .blog1 {
        flex-direction: column-reverse;
        width: 100%;
        height: auto; 
    }
    .TableWare {
        width: 100%;
        height: 337px;
    }
    .TableWare h2{
        font-size: 28px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .imgblog {
        width: 100%;
        height: auto;
    }
    .imgblog img {
        width: 100%;
        height: 297px; 
        object-fit: cover;
        display: block; 
    }
    .emails {
        text-align: center;
    }
    .emails h3{
        margin-top: 40px;
    }
    .emails h2 {
        font-size: 28px;
        margin-bottom: 24px;
        margin-top: 24px;
    }
    .emails a{
        width: 200px;
        display: block;                  
        border-bottom: 1px solid #3A3845; 
        padding-bottom: 12px;           
        margin-bottom: 32px;             
        text-decoration: none;  
    } 
    .emails button {
        width: 120px;       
        padding: 10px 0;    
       
        display: block; 
    }
}

.moon-footer {
  padding: 48px 245px 0px 245px; 
}
.footer-container {
  display: flex;
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: #CAC9CF;
}
.brand-column{
    border-right:1px solid #CAC9CF ;
    padding-right: 16;
    margin-right: 80px;
}
.footer-text {
  font-size: 14px;
  color: #E5E5E5;
  line-height: 1.6;
  margin-bottom:30px;
  max-width: 300px;
}
.footer-btn {
  background: transparent;
  color: #F7F6F5;
  border: 1px solid #F7F6F5;
  padding: 15px 18px;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 4px;
}
.footer-column h3{
    margin-bottom: 32px
}
.footer-column {
  margin-top: 24px;
  margin-right: 72px;
  margin-bottom: 70px;
}
.brand-column {
  flex: 1.5;
}
.column-title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 22px;
  color: #FFFFFF;
}

.column-links li {
  margin-bottom: 16px;
  
}
.column-links li a {
  color: #E5E5E5;
  text-decoration: none;
  font-size: 14px;
}
.footer-bottom {
  font-size: 16px;
  color: #CAC9CF;
  text-align: center;
  padding: 32px 235px 32px;
}
.moon-footer {
  background-color: #3A3845; 
  width: 100vw;             
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;        
  margin-right: -50vw;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 660px) {
    .moon-footer {
        padding: 32px 20px 20px 20px ; 
    }
    .footer-container {
        display: flex ;
        flex-wrap: wrap ; 
    }
    .brand-column {
        flex: 100% ; 
        border-right: none ; 
        margin-right: 0 ;
        padding-bottom: 30px ; 
        margin-bottom: 30px ;   
        border-bottom: 1px solid #CAC9CF ; 
    }
    .footer-column {
        flex: 50% ;         
        margin-right: 0 ;
        margin-bottom: 24px ;   
    }
    .footer-column:last-of-type { 
        flex:  100% ;        
        margin-bottom: 30px ;
    }
    .footer-column h3 {
        margin-bottom: 30px ;
    }
    .footer-bottom {
        padding: 30px 32px;
        font-size: 16px ;
        border-top: 1px solid #CAC9CF ;  
        height: 69px;
        width: 326px;
        text-align: center;

    }
    .footer-bottommd{
        display: block;
    }
    .footer-bottom1{
        display: none;
    }
}
.footer-bottommd{
    display: none;
}
.footer-bottom1{
    display: block;
}
